@import './setup';

:root {

  // themes color
  --color-primary: #226fc1;
  --color-primary-2: #ff7029;
  --color-secondary: #1F1F25;

  // body color
  --color-body: #6E777D;

  // title color
  --color-heading-1: #1f1f25;

  --color-white: #fff;

  // notify Colors
  --color-success: #3EB75E;
  --color-danger: #FF0003;
  --color-warning: #FF8F3C;
  --color-info: #1BA2DB;


  //Social icon colors
  --color-facebook: #3B5997;
  --color-twitter: #1BA1F2;
  --color-youtube: #ED4141;
  --color-linkedin: #0077B5;
  --color-pinterest: #E60022;
  --color-instagram: #C231A1;
  --color-vimeo: #00ADEF;
  --color-twitch: #6441A3;
  --color-discord: #7289da;


  // Font weight
  --p-light: 300;
  --p-regular: 400;
  --p-medium: 500;
  --p-semi-bold: 600;
  --p-bold: 700;
  --p-extra-bold: 800;
  --p-black: 900;

  // Font weight
  --s-light: 300;
  --s-regular: 400;
  --s-medium: 500;
  --s-semi-bold: 600;
  --s-bold: 700;
  --s-extra-bold: 800;
  --s-black: 900;



  //transition easing
  --transition: 0.3s;


  // Font Family
  --font-primary: 'Exo', sans-serif;
  --font-secondary: 'Albert Sans', sans-serif;

  //Fonts Size
  --font-size-b1: 16px;

  --font-size-b2: 16px;
  --font-size-b3: 22px;


  //Line Height
  --line-height-b1: 26px;

  --line-height-b2: 26px;
  --line-height-b3: 1.7;


  // Heading Font
  --h1: 60px;
  --h2: 48px;
  --h3: 30px;
  --h4: 26px;
  --h5: 24px;
  --h6: 18px;

  --menu-height: 40px
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

body {
  background: #fff;
  color: var(--color-body);

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
}

a:hover {
  text-decoration: unset;
  color: var(--color-primary);
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display: none;
}

.content {
  max-width: 1440px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 16px 0;
}

.logo {
  width: 80px;
}

.social {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: right;

  img {
    width: 36px;
  }

  svg {
    width: 16px;
    height: 16px;
  }

  .item {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .i1 {
    background: #3a589d;
    color: #fff;
  }

  .i2 {
    background: #111;
    color: #fff;
  }

  .i3 {
    background: #c33223;
    color: #fff;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .i5 {
    background: #51cb5a;
    color: #fff;
  }

  .i6 {
    background: var(--color-primary);
    color: #fff;
  }
}

input {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
  }
}

.search {
  position: relative;

  input {
    border: 1px solid var(--color-primary);
  }

  .search-icon-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: calc(100% - 2px);
    width: 48px;
    color: var(--color-white);
    background: var(--color-primary);

    svg {
      width: 16px;
      height: 16px;
    }
  }
}

.nav-menu {
  background: var(--color-primary);
  color: var(--color-white);
  position: relative;
  z-index: 10;
  position: sticky;
  top: 0;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, .15);

  a:hover {
    color: var(--color-white);
  }

  .nav-box {
    display: grid;
    grid-template-columns: 230px 1fr;
    gap: 16px;
  }

  .dr-head {
    height: var(--menu-height);
    display: flex;
    align-items: center;
    display: flex;
    gap: 8px;
    position: relative;
    cursor: pointer;

    .icon-arow {
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 12px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 50%;
      background: var(--color-white);
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    .text {
      text-transform: uppercase;
      display: flex;
    }

    .icon {
      display: flex;
    }
  }

  .list-menu {
    display: flex;
    gap: 36px;
    align-items: center;
  }

  .lab {
    text-transform: uppercase;
    height: var(--menu-height);
    display: flex;
    align-items: center;
  }

  .drop-menu {
    position: relative;

    &:hover {
      .dr-wrap {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .dr-wrap {
    position: absolute;
    top: 100%;
    left: 0;
    color: var(--color-body);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    min-width: 100%;

    a:hover {
      color: var(--color-primary);
    }

    .dr-list {
      background: #fff;
      box-shadow: 1px 1px 15px rgba(0, 0, 0, .15);
      display: flex;
      flex-direction: column;
    }

    .dr-item {
      padding: 8px;
      border-bottom: 1px solid #ddd;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .arow-right {
        font-size: 12px;
        opacity: 0.8;
      }

      &:last-child {
        border-bottom: none;
      }

      &:hover {

        >a,
        .arow-right {
          color: var(--color-primary);
        }

        .wrap-sub {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .wrap-sub {
    position: absolute;
    left: 100%;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    padding-left: 1px;
    min-width: 180px;

    .dr-list-sub {
      background: #fff;
      box-shadow: 1px 1px 15px rgba(0, 0, 0, .15);
      display: flex;
      flex-direction: column;

      .dr-item-sub {
        padding: 8px;
        border-bottom: 1px solid #ddd;
        position: relative;

        &:last-child {
          border-bottom: none;
        }

        a {
          white-space: nowrap;
        }
      }
    }
  }
}

.swiperSlider {
  margin-top: 8px;
  width: 100%;
  aspect-ratio: 100/36;

  .swiper-scrollbar {
    display: none;
  }

  .item-slider {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.title-ss {
  display: flex;
  gap: 8px;
  text-transform: uppercase;
  font-size: 24px;
  align-items: center;
  color: var(--color-primary);

  .icon {
    display: flex;
  }

  border-bottom: 1px solid var(--color-primary);
  padding: 8px 0;
}

.main {
  margin-top: 32px;
}

.list-post {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 24px;

  &.v2 {
    grid-template-columns: 1fr 1fr 1fr;

    .title {
      text-align: left;
    }
  }

  .item {
    background: rgb(239, 241, 243);
  }

  .title {
    text-align: center;
    color: var(--color-primary);
    padding: 8px;
  }

  .image {
    position: relative;
    overflow: hidden;

    &:hover:before {
      -webkit-animation: shine .75s;
      animation: shine .75s;
    }

    &::before {
      position: absolute;
      top: 0;
      left: -100%;
      z-index: 2;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
      -webkit-transform: skewX(-25deg);
      transform: skewX(-25deg);
    }

    img {
      width: 100%;
      aspect-ratio: 270/150;
      object-fit: cover;
    }
  }
}

.session.v2 {
  margin-top: 32px;
}

.list-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 48px;
  margin-top: 48px;

  .item {
    background: #fff;
  }

  .des {
    margin-top: 24px;
  }

  .image {
    position: relative;
    overflow: hidden;
    width: 92px;
    margin: 0 auto;

    &:hover:before {
      -webkit-animation: shine .75s;
      animation: shine .75s;
    }

    &::before {
      position: absolute;
      top: 0;
      left: -100%;
      z-index: 2;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
      -webkit-transform: skewX(-25deg);
      transform: skewX(-25deg);
    }

    img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }
}

.catSwiper {
  margin-top: 24px;

  .swiper-wrapper {
    height: auto;
  }

  .item-pord {
    background: rgb(239, 241, 243);
  }

  .des {
    padding: 8px;

    .text1 {
      font-weight: 500;
    }

    .text2 {
      font-size: 13px;
    }
  }
}

.blogSwiper {
  margin-top: 24px;

  .swiper-wrapper {
    height: auto;
  }

  .item-pord {
    background: rgb(239, 241, 243);
  }

  .des {
    padding: 8px;

    .text1 {
      font-weight: 500;
      margin-bottom: 8px;
      display: block;
    }

    .text2 {
      font-size: 13px;
    }
  }
}

.doitacSwiper {
  margin-top: 32px;

  .swiper-wrapper {
    height: auto;
  }

  .item-pord {
    background: rgb(239, 241, 243);
  }

  .des {
    padding: 8px;

    .text1 {
      font-weight: 500;
      margin-bottom: 8px;
      display: block;
    }

    .text2 {
      font-size: 13px;
    }
  }
}

.footer {
  background: rgb(239, 241, 243);
  margin-top: 53px;

  .social {
    justify-content: left;
    margin-top: 8px;
  }

  .logo {
    margin-bottom: 8px;
  }

  .foot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    padding: 24px 0;

    .t1 {
      font-weight: 500;
    }

    .map {
      width: 100%;
      height: 170px;
    }

    .col1 {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}

.contact {
  margin-top: 32px;
  background: var(--color-primary);
  color: var(--color-white);
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 420px;
  .col1,
  .col2{
    border: 1px dashed var(--color-white);
    padding: 24px;
  }
  .col2{
    border-left: none;
  }
  .t1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    margin-bottom: 16px;
  }

  .form-contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .btn-send {
    height: 36px;
    background: var(--color-primary-2);
    padding: 8px 16px;
    margin: 0 auto;
    display: block;
    color: var(--color-white);
    text-transform: uppercase;
    width: 100%;
  }
}

.write-foot {
  padding: 16px;
  background: var(--color-primary);
  color: var(--color-white);
  text-align: center;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 24px;
}